.introContainer {
    width: 75%;
    margin: auto auto;
    padding: 50px 0 50px 0;
}

.intro {
    color: white;
    font-size: 2.3em;
    font-family: 'Vollkorn', serif;
    letter-spacing: .05em;
    font-weight: lighter;
    text-decoration: none;
}