.ArticleList {
    margin: 0 auto;
    width: auto;
    max-width: 95%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.ArticleThumbnail {
    width: 90vw;
    height: 200px;
    background: #222;
    border: 1px solid white;
    color: white;
    margin-bottom: 5vw;
}

.ArticleThumbnail:hover {
    border: 1px solid #08FEB8;
    color: #08FEB8;
}

.ArticleThumbnail h3 {
    font-size: 2em;
    margin-top: 14px;
    font-family: 'Unica One', cursive;
    font-weight: lighter;
    margin: 25px;
}

.ArticleThumbnail p {
    font-size: 1.2em;
    font-family: 'Vollkorn', serif;
    margin: 25px;
}

.link {
    text-decoration: none;
}

@media (min-width: 333px) {
    .ArticleThumbnail {
        width: 300px;
        margin: 15px;
    }
}