.plant_image_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.plant_image_container .picture {
    width: 100%;
    height: auto;
}

.plant_image_container .created_at {
    color: white;
    float: right;
    font-family: 'Vollkorn', serif;
}