html {
    background-color: #292929;
}

.ArticleList {
    margin: 0 auto;
    max-width: 85%;
}

.ArtThmbContainer {
    width: 350px;
    height: 300px;
    margin: 0 auto;
    padding: 0 25px;
}

.ArticleThumbnail {
    width: 300px;
    height: 200px;
    background: #B3B3B3;
    color: #242424;
    padding: 25px;
}

.ArticleThumbnail h3 {
    font-size: 2em;
    margin-top: 14px;
}

.ArticleThumbnail p {
    font-size: 1.2em;
}

.link {
    text-decoration: none;
}