.articleContainer {
    color: white;
    font-size: 2.3em;
    font-family: 'Vollkorn', serif;
    letter-spacing: .05em;
    font-weight: lighter;
    text-decoration: none;
    width: 75%;
    margin: 0 auto;
}