.ArticleList {
    margin: 0 auto;
    max-width: 85%;
}

.ArtThmbContainer {
    width: 350px;
    height: 200px;
    margin-bottom: 100px;
}

.ArticleThumbnail {
    width: 300px;
    height: 200px;
    background: #222;
    border: 1px solid white;
    color: white;
    padding: 25px;
}

.ArticleThumbnail:hover {
    border: 1px solid #08FEB8;
    color: #08FEB8;
}

.ArticleThumbnail h3 {
    font-size: 2em;
    margin-top: 14px;
    font-family: 'Unica One', cursive;
    font-weight: lighter;
}

.ArticleThumbnail p {
    font-size: 1.2em;
    font-family: 'Vollkorn', serif;
}

.link {
    text-decoration: none;
}