@import url('https://fonts.googleapis.com/css?family=Unica+One|Vollkorn');

.highlight {
    color: #08FEB8;
}

.highlight:hover {
    text-decoration-color: #08FEB8;
}

a {
    text-decoration: none;
    color: inherit;
}